<h1><%= @recipe.name %></h1>

<%= form_for([@recipe, @recipe_ingredient]) do |f| %>
  <% if @recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% @recipe_ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ingredient_id %><br />
    <%= collection_select(:recipe_ingredient, :ingredient_id, Ingredient.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :measure_type_id %><br />
    <%= collection_select(:recipe_ingredient, :measure_type_id, MeasureType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', recipe_recipe_ingredients_path %>
