<p id="notice"><%= notice %></p>

<h1><%= @recipe.name %></h1>
<h2><%= @recipe.user.email %></h2>

<h3>Ingredients</h3>
<table>
  <tr>
    <th>Quantity</th>
    <th>Measure</th>
    <th>Ingredient</th>
  </tr>
<% @recipe.recipe_ingredients.each do |i| %>
  <tr>
    <td><%= i.qty %></td>
    <td><%= i.measure_type.name %></td>
    <td><%= i.ingredient.name %></td>
  </tr>
<% end %>
</table>

<h3>Steps</h3>
<ol>
<% @recipe.recipe_steps.each do |s| %>
  <li><%= s.step %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
