<%#= debug @results %>

<h1>Suggestions</h1>
<ol>
<% @suggestions.each do |res| %>
<li>
	<div>
		<h2><%= res[:recipe].name %></h2>
		<h3>Ingredients</h3>
		<ul>
			<% res[:uses].each do |i,a| %>
			<li><span><%= i.ingredient.name %></span> - <span><%= a %>g</span></li>
			<% end %>
		</ul>
	</div>
</li>
<% end %>
</ol>

<h1>So close...</h1>
<ol>
<% @soclose.each do |res| %>
<li>
	<div>
		<h2><%= res[:recipe].name %></h2>
		<h3>Missing</h3>
		<ul>
			<% res[:missing].each do |i,a| %>
			<li><span><%= i.ingredient.name %></span> - <span><%= a %>g</span></li>
			<% end %>
		</ul>
	</div>
</li>
<% end %>
</ol>

<%= link_to 'Home', current_user %>