<%= form_for(@measure_conversion) do |f| %>
  <% if @measure_conversion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measure_conversion.errors.count, "error") %> prohibited this measure_conversion from being saved:</h2>

      <ul>
      <% @measure_conversion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :measure_type_id %><br />
    <%= collection_select(:measure_conversion, :measure_type_id, MeasureType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br />
    <%= collection_select(:measure_conversion, :ingredient_id, Ingredient.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :multiplier %><br />
    <%= f.text_field :multiplier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
