<h1>Listing measure_conversions</h1>

<table>
  <tr>
    <th>Measure type</th>
    <th>Ingredient</th>
    <th>Multiplier</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @measure_conversions.each do |measure_conversion| %>
  <tr>
    <td><%= measure_conversion.measure_type.name %></td>
    <td><%= measure_conversion.ingredient.name %></td>
    <td><%= measure_conversion.multiplier %></td>
    <td><%= link_to 'Show', measure_conversion %></td>
    <td><%= link_to 'Edit', edit_measure_conversion_path(measure_conversion) %></td>
    <td><%= link_to 'Destroy', measure_conversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Measure conversion', new_measure_conversion_path %>
