<p>Welcome, <%= current_user.email %>!</p>
<h1>Available Ingredients</h1>
<table>
  <tr>
    <th>Quantity</th>
    <th>Measure</th>
    <th>Ingredient</th>
    <th></th>
  </tr>
  <% @available.each do |a| %>
  <tr>
    <td><%= a.qty %></td>
    <td><%= a.measure_type.name %></td>
    <td><%= a.ingredient.name %></td>
    <td><%= button_to 'Remove', available_ingredient_path(a.id), :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Add Ingredient', new_available_ingredient_path %>
<h1>Pantry Ingredients</h1>
<table>
  <tr>
    <th>Ingredient</th>
    <th></th>
  </tr>
  <% @pantry.each do |p| %>
  <tr>
    <td><%= p.ingredient.name %></td>
    <td><%= button_to 'Remove', pantry_ingredient_path(p.id), :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Add Ingredient', new_pantry_ingredient_path %>
<h1>Recipes</h1>
<ul>
  <% current_user.recipes.each do |r| %>
  <li><%= link_to r.name, r %></li>
  <% end %>
</ul>