<p>Welcome, <%= current_user.email %>!</p>
<h1>Available Ingredients</h1>
<table>
  <tr>
    <th>Quantity</th>
    <th>Measure</th>
    <th>Ingredient</th>
    <th>Grams</th>
    <th></th>
  </tr>
  <% @available.each do |a| %>
  <tr>
    <td><%= a.qty %></td>
    <td><%= a.measure_type.name %></td>
    <td><%= a.ingredient.name %></td>
    <td><%= a.in_grams %></td>
    <td><%= button_to 'Remove', user_available_ingredient_path(current_user, a.id), :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Add Ingredient', new_user_available_ingredient_path(current_user) %>
<h1>Pantry Ingredients</h1>
<table>
  <tr>
    <th>Ingredient</th>
    <th></th>
  </tr>
  <% @pantry.each do |p| %>
  <tr>
    <td><%= p.ingredient.name %></td>
    <td><%= button_to 'Remove', user_pantry_ingredient_path(current_user, p.id), :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Add Ingredient', new_user_pantry_ingredient_path(current_user) %>
<h1><%= link_to 'Suggest', suggest_recipes_path %></h1>
<h1>My Recipes</h1>
<ul>
  <% current_user.recipes.each do |r| %>
  <li><%= link_to r.name, r %></li>
  <% end %>
</ul>
<p>
  <%= link_to 'Create Recipe', new_recipe_path %>
</p>
<%= link_to 'All Ingredients', ingredients_path %> |
<%= link_to 'All Measure Types', measure_types_path %>
