<p>Welcome, <%= current_user.email %>!</p>
<h1>Available Ingredients</h1>
<table>
  <tr>
    <th>Ingredient</th>
    <th>Amount</th>
  </tr>
</table>
<%= link_to 'Add Ingredient' %>
<h1>Pantry Ingredients</h1>
<table>
  <tr>
    <th>Ingredient</th>
    <th></th>
  </tr>
  <% @pantry.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= button_to 'Remove', user_pantry_ingredient_path(current_user, p.id), :method => :delete %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Add Ingredient', new_user_pantry_ingredient_path(current_user) %>