<%= form_for(@measure_type) do |f| %>
  <% if @measure_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measure_type.errors.count, "error") %> prohibited this measure_type from being saved:</h2>

      <ul>
      <% @measure_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :multiplier %><br />
    <%= f.text_field :multiplier %>
  </div>
  <div class="field">
    <%= f.label :volumetric %><br />
    <%= f.check_box :volumetric %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
