<h1>Listing measure_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @measure_types.each do |measure_type| %>
  <tr>
    <td><%= measure_type.name %></td>
    <td><%= link_to 'Show', measure_type %></td>
    <td><%= link_to 'Edit', edit_measure_type_path(measure_type) %></td>
    <td><%= link_to 'Destroy', measure_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<p>
  <%= link_to 'New Measure type', new_measure_type_path %>
</p>
<%= link_to 'Home', root_path %>
