<p>
  <b>Name:</b>
  <%= @measure_type.name %>
</p>
<p>
  <b>Multiplier:</b>
  <%= @measure_type.multiplier %>
</p>
<p>
  <b>Volumetric:</b>
  <%= @measure_type.volumetric %>
</p>


<%= link_to 'Edit', edit_measure_type_path(@measure_type) %> |
<%= link_to 'Back', measure_types_path %>
